body {
    background-color: #000;
    font-family: Inter, Arial, Helvetica, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


@media screen and (max-width: 950px) {
    body {
        padding: 0px 19px;
  }
}


@media screen and (max-width: 450px) {
    body {
        padding: 0;
  }
}